.logo {
    width: 300px;
    margin-top: 50px;
}

.product-heading {
    color: green;
}

.product_img {
    height: 100px;
}

.ul-style {
    list-style-type: none;
}

.product_spacing {
    text-align: left;
}

.CP {
    width: 25%;
}

.store-name {
    font-size: 180%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.products_header {
    font-size: 180%;
}
.product_list {
    width: 25%;
}

.pd {
    width: 70%;
}

.home_title {
    font-size: 190%;
}